# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 9133600

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repo
        uses: actions/checkout@v2


      - name: Running waybackurl
        run: | 
          echo "test" >> urls
      
      - name: Log urls
        run: | 
          cat urls     
    
      - name: Create local changes
        run: |
            git add .
      - name: Debug Permissions
        run: |
          echo "GitHub Token Permissions:"
          curl -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -X GET "https://api.github.com/repos/vskrishnan27/wayBackUrlTest/collaborators"
          echo "Repository URL:"
          git remote -v

      - name: Commit results to Github
        run: |
          git config --global user.email "vskrishnan27@gmail.com"
          git config --global user.name "vskrishnan27"
          git commit -m "PD-Actions report" -a --allow-empty

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
